@import './normalize.css';

body {   
  padding: 0;
}

.header {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  padding: 10px;
  max-width: 1600px;
}

.footer {
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 10px;
  max-width: 1600px;
  background: linear-gradient(40deg,#00bf82,#0099ae);
  
}

.footer a {
  font-family: Roboto;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.stars {
  width: 40%;
  height: 50px;
  z-index: 2;
}

.stars img {
  width: 11%;
  height: auto;
  opacity: 70%;
}

.main {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  max-width: 1600px;
}

.stat {
  height: auto;
}

.item {
  display: flex; 
  width: 300px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  color: #212529;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background: -webkit-gradient(linear,left top,left bottom,from(#0099ae),color-stop(40%,#00bf82),color-stop(40%,#fff),to(#fff));
  background: linear-gradient(180deg,#0099ae,#00bf82 40%,#fff 0,#fff);
  margin: 20px 25px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.red {
  background: -webkit-gradient(linear,left top,left bottom,from(#fd6a63),color-stop(40%,#feb46b),color-stop(40%,#fff),to(#fff));
  background: linear-gradient(180deg,#fd6a63,#feb46b 40%,#fff 0,#fff);
}

.item:hover {
  box-shadow: -1px 5px 15px 0 rgba(0,0,0,.5)
}

.image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
  object-fit: cover;
  margin: 30px auto;
}

.img-middle {
  width: 100%;
  height: auto;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.img-big {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  object-fit: fill;
}

nav {
  width: 5%;
  position: relative;
}

.menuToggle, .menuToggle input {
  display: block;
  position: absolute;
}

.menuToggle {
  top: 11px;
  left: 0;
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.success,
.failure {
  margin: 0 auto;
  position: absolute; 
  display: block;
  width: 80%;
  height: 80vh;
  font-size: 2rem;
  background-image: url(./assets/img/success.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  z-index: 10;
}

.failure {
  background-image: url(./assets/img/failure.jpg);  
}

.card-outer {
  perspective: 1000;
}

 /* перевернуть сторону при проведении мышью */
 .flip {
  transform: rotateY(180deg);
  }
  
 /* скорость перевертывания */
 .item {
  transition: 0.6s;
  transform-style: preserve-3d;  
  position: relative;
 } 
  
 /* скрыть обратную сторону во время переворота */
 .front, .back {
  backface-visibility: hidden;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
 }
  
 /* лицевая сторона размещена над обратной */
 .front {
  z-index: 2;
 }
  
 /* обратная, изначально скрытая сторона */
 .back {
  transform: rotateY(180deg);
 }

 .word-choosen {
  opacity: 0.5;
 }

 
.example-enter {
  opacity: .01;
}

.example-enter.example-enter-active {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: .01;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

nav {
  position: relative;
}

.header-item {
  font-family: Roboto;
  padding: 10px;
  margin: 0 0 0 90px;
  color: #fff;
  min-width: 145px;
  text-align: right;
}

.header-item.active {
  text-decoration: underline;
}

.menuToggle {
  top: 11px;
  left: 0;
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menuToggle,.menuToggle input {
  display: block;
  position: absolute;
}

.menuToggle input {
  width: 40px;
  height: 32px;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0;
  transform-origin: 4px 0;
  -webkit-transition: background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease,-webkit-transform .5s cubic-bezier(.77,.2,.05,1);
  transition: background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease,-webkit-transform .5s cubic-bezier(.77,.2,.05,1);
  transition: transform .5s cubic-bezier(.77,.2,.05,1),background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease;
  transition: transform .5s cubic-bezier(.77,.2,.05,1),background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease,-webkit-transform .5s cubic-bezier(.77,.2,.05,1)
}

.menuToggle span:first-child {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.menuToggle input:checked~span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px,-1px);
  transform: rotate(45deg) translate(-2px,-1px);
  background: #cdcdcd;
}

.menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(.2);
  transform: rotate(0deg) scale(.2);
}

.menuToggle input:checked~span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translateY(-1px);
  transform: rotate(-45deg) translateY(-1px);
}

.menu {  
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  width: 25vw;
  min-height: 600px;
  height: calc(100vh + 50px);
  margin: -100px 0 0;
  padding: 125px 50px 50px;
  left: calc(675px - 50vw);
  background: linear-gradient(40deg,#00bf82,#0099ae);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
  -webkit-transition: -webkit-transform .5s cubic-bezier(.77,.2,.05,1);
  transition: -webkit-transform .5s cubic-bezier(.77,.2,.05,1);
  transition: transform .5s cubic-bezier(.77,.2,.05,1);
  transition: transform .5s cubic-bezier(.77,.2,.05,1),-webkit-transform .5s cubic-bezier(.77,.2,.05,1)
}

.header-item {
  padding: 10px 0;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
}

.menuToggle input:checked~ul {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.main-card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
  object-fit: cover;
  margin: 30px auto;
}

.main-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
}

.main-container {
  padding-top: 55px;
}

.switch-container {  
  width: 10%;
  position: relative;
}

.switch {
  display: block;
  display: inline-block;
  width: 120px;
  height: 40px;
  padding: 3px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 -1px #fff,inset 0 1px 1px rgba(0,0,0,.05);
  cursor: pointer;
  background-image: linear-gradient(180deg,#eee,#fff 25px);
}

.switch,.switch-input {
  position: absolute;
  top: 0;
}

.switch-input {
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  background: linear-gradient(40deg,#ffd86f,#fc6262);
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.12),inset 0 0 2px rgba(0,0,0,.15);
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
}

.switch-label:after,.switch-label:before {
  position: absolute;
  top: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

.switch-label:before {
  content: attr(data-off);
  right: 15px;
  color: #fff;
  text-shadow: 0 1px hsla(0,0%,100%,.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 15px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.2);
  opacity: 0;
}

.switch-input:checked~.switch-label {
  background: linear-gradient(40deg,#00bf82,#0099ae);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.15),inset 0 0 3px rgba(0,0,0,.2);
}

.switch-input:checked~.switch-label:before {
  opacity: 0;
}

.switch-input:checked~.switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 33px;
  height: 33px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(40%,#fff),to(#f0f0f0));
  background-image: linear-gradient(180deg,#fff 40%,#f0f0f0);
  -webkit-transition: left .15s ease-out;
  transition: left .15s ease-out;
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0,0,0,.02);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#fff));
  background-image: linear-gradient(180deg,#eee,#fff);
}

.switch-input:checked~.switch-handle {
  left: 85px;
  box-shadow: -1px 1px 5px rgba(0,0,0,.2);
}


.main-card .green {
  background: -webkit-gradient(linear,left top,left bottom,from(#0099ae),color-stop(40%,#00bf82),color-stop(40%,#fff),to(#fff));
  background: linear-gradient(180deg,#0099ae,#00bf82 40%,#fff 0,#fff)
}


.menu-red {
  background: linear-gradient(40deg,#ffd86f,#fc6262);
}

.footer-red {
  background: linear-gradient(180deg,#fd6a63,#feb46b 100%,#fff 0,#fff);
}



.card audio {
  width: 300px;
  height: 250px;
  background-color: #000;
  display: block!important;
}

.card-header {
  margin-top: 200px;
  padding: 0 15px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  pointer-events: none;
  background: #fff;
  color: #212529;
}

.back .card-header {
  background: #fff;
  color: #000;
}

.card-header.active {
  background: linear-gradient(40deg,#ffd86f,#fc6262);
  color: #fff;
}

.inactive {
  opacity: .5;
}

.rotate {
  display: flex;
  align-self: flex-end;
  width: 50px;
  height: 50px;
  background-image: url(./assets/img/rotate.png);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center 16px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.rotate:hover {
  -webkit-filter: none;
  filter: none;
}

.back, .front {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s
}

.card-cover .back,.card-cover .front {
  background-size: cover;
  background-position: 50%;
}

.btns {
  width: 100%;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  padding: 20px 25px;
  font-size: 24px;
  width: 15%;
  height: 65px;
  background: linear-gradient(40deg,#ffd86f,#fc6262);
  color: #fff;
  border-radius: 10px;
  outline: 0!important;
  border-width: 1px;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;  
  cursor: pointer;
  transition: opacity 0.5s;
}

.btn:hover {
  transition: opacity 0.3s;
  opacity: 0.8;
}

.btn a,
.btn a:visited {
  text-decoration: none;
  color: #ffffff;
}

.no-words {
  text-align: center;
  font-size: 1rem;
  margin-top: 50px;
}

.repeat {
  width: 65px;
  font-size: 0;
  background-image: url(./assets/img/repeat.svg),linear-gradient(40deg,#ffd86f,#fc6262);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 32px 32px, cover;
  background-position: 50%;
}

.none {
  box-sizing: border-box;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  margin: 0;
  padding: 0
}

.hide {
  display: none;
}

.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 40px;
  overflow-x: hidden;
  line-height: 36px;
  font-size: 36px;
  color: #fc6262
}

.star-error {
  background-image: url(./assets/img/star.svg);
}

.star-error,.star-succes {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.star-succes {
  background-image: url(./assets/img/star-win.svg);
}

nav + .switch-container {
  display: none;
}

.stat-btns {
  display: flex;
  justify-content: space-between;
}

.stat-btns .btn {
  display: flex;
  width: 40%;
  align-items: center;
  font-size: 1rem;
  height: 60px;
}

.repeat-dif-words {
  background: linear-gradient(40deg,#00bf82,#0099ae);
}

table {
  margin-top: 20px;
  vertical-align: middle;
  text-align: center;
  border-collapse: collapse;
}

tbody > tr:nth-child(odd) {
  background: #f9f9f9;
}

tbody tr td > tr:nth-child(even) {
  background: #cdcdcd;
}

td > tr {
  display: inline-table;
  width: 100%;
}


@media (max-width: 1430px) {
  .menu {
    padding-right: 15px;
    padding-left: 5px;
      left: -20px;
  }

  .switch-container {
    width: 15%;
  }
}

@media (max-width: 1080px) {
  .menu {
    width: 35vw;
    padding-right: 15px;
    padding-left: 5px;
    left: -20px;
  }

  .switch-container {
    width: 15%;
  }
}

@media (max-width: 730px) {
  .menu {
      width:320px;
      left: -20px;
  }

  .header-item {
      margin-left: 40px;
  }

.switch-container {
  width: 25%;
}

  .stars {
    margin-left: 0;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 10;
    opacity: 0.8;
    width: 20%;
    padding: 0;
}

.stat-btns .btn {
  position: static;
  font-size: 0.7rem;
  height: 45px;
}

.repeat {
  width: 70px;
}

.success,
  .failure {
    font-size: 0.7rem;
  }
}

@media (max-width: 430px) {
  body {
    background-size: 300px 300px;
  }

  .header {
    flex-wrap: wrap;
  }

  .stat-btns .btn {
    font-size: 0.5rem;
    height: 35px;
  }

  .switch-container {
    display: flex;
    order: 2;
    width: 45%;
  }

  .stars {    
    margin-left: auto;
  }

  .success,
  .failure {
    font-size: 0.6rem;
  }

  .card {
      margin:20px 0!important;
  }

  .item {
    margin: 0;
  }

  table {
    font-size: 0.5rem;
  }
}